{% extends "_base.html" %}
{% set active_page = "edit" %}
{% block body %}
<form action="{{url_for(
                    'edit_post',
                    year=post.pub_date.year,
                    month=post.pub_date.month,
                    day=post.pub_date.day,
                    slug=post.slug)}}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <label>{{ field.label }}</label>
    {{ field }}
    {% endfor %}
    <input type="submit" name="save"/>
</form>
{% endblock %}
