<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Millific</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/min/1.5/min.min.css">
    <style>
        #posts {
            text-align : left;
            padding-left : 5em;
        }
        #new-post {
            display : table;
            padding-left : 5em;
        }
        #new-post p {
            display : table-row;
        }
        #new-post label {
            display : table-cell;
        }
        #new-post input {
            display : table-cell;
        }
    </style>
  </head>
  <body>
      <h1>Millific Prototype</h1>
      <ul id="posts">
      {% for post in listing %}
      <li><a href="{{ url_for('show', post_id=post.id) }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
      <form id="new-post" method="POST" action="/">
          {{ form.hidden_tag() }}
          <p>
              {{ form.title.label }} {{ form.title }}
          </p>
          <p>
              {{ form.content.label }} {{ form.content }}
          </p>
          <p>
              <input type="submit" value="post">
          </p>
      </form>
  </body>
</html>
